# Homarr
HOMARR_SECRET_ENCRYPTION_KEY=
HOMARR_OIDC_CLIENT_ID=
HOMARR_OIDC_CLIENT_SECRET=
# VPN
VPN_USER=
VPN_PASS=
# Immich
IMMICH_DB_USER=
IMMICH_DB_PASSWORD=
IMMICH_DB_DB=
# Authentik
AUTHENTIK_SECRET_KEY=
